In [1]:
import pandas as pd
import os


df1 = pd.read_csv("./3618973.csv")
df2 = pd.read_csv("./3618766.csv")
df = pd.concat([df1,df2])

In [2]:
def date_fun(date):
    date = date.split("-")
    return {"Year" : int(date[0]), "Month" : int(date[1]),"Day" : int(date[2])}
df[["Year","Month","Day"]] = df.apply(lambda x : date_fun(x["DATE"]),axis = 1,result_type = "expand")

In [3]:
df = df[df["Year"] >= 1948]
df = df[df["TMAX"].isna() != True]
df = df.dropna(axis=1,thresh = len(df)*.5)
# df.to_csv("1948_2024.csv",index = False)

In [4]:
import pandas as pd
import datetime as dt
df["Datetime"] = df.apply(lambda x : dt.datetime(x["Year"],x["Month"],x["Day"]),axis = 1)
print(len(df))

84320

In [6]:
from tqdm import tqdm
import numpy as np
stat = None
track = []
for i,row in tqdm(df.iterrows()):
    if row["Year"] == 2024:
        continue
    if row["STATION"] != stat:
        track = []
        stat = row["STATION"]
    if len(track) < 30:
        p = row["PRCP"]
        track.append(row["TMAX"])
        continue
    df.at[i,"ry"] = p
    df.at[i,"Week_av"] = np.sum(track[-7:])/7
    df.at[i,"2Week_av"] = np.sum(track[-14:])/14
    df.at[i,"Month_av"] = np.sum(track)/30
    for j in range(1,31):
        df.at[i,"d" + str(j)] = track[30-j]
    track = track[1:]
    track.append(row["TMAX"]) 
    p = row["PRCP"]

84320it [21:58, 63.96it/s]

In [8]:
df.to_csv("1948_2024.csv",index = False)

In [11]:
df = pd.read_csv("1948_2024.csv")

In [29]:
df = df[df["Year"] >= 1965]
print(len(df))

65910

In [27]:
import requests
import io
nyurl = "https://mesonet.agron.iastate.edu/cgi-bin/request/daily.py?network=NY_ASOS&stations=NYC"
miaurl = "https://mesonet.agron.iastate.edu/cgi-bin/request/daily.py?network=FL_ASOS&stations=MIA"
chiurl = "https://mesonet.agron.iastate.edu/cgi-bin/request/daily.py?network=IL_ASOS&stations=MDW"
ausurl = "https://mesonet.agron.iastate.edu/cgi-bin/request/daily.py?network=TX_ASOS&stations=ATT"
df[["Year","Month","Day"]] = df.apply(lambda x : date_fun(x["DATE"]),axis = 1,result_type = "expand")
df_hds = []
for city in ["M","C","A","NY"]:
    url = "&year1=1965&month1=1&day1=1&year2=2024&month2=3&day2=17&var=max_rh&na=blank&format=csv"
    u = {"NY" : nyurl,"M" : miaurl, "C" : chiurl,"A" : ausurl}[city] + url
    r = requests.get(u).text
    df_hd = pd.read_csv(io.StringIO(r),sep = ",")
    df_hd[["Year","Month","Day"]] = df_hd.apply(lambda x : date_fun(x["day"]),axis = 1,result_type = "expand")
    df_hd["STATION"] = df_hd["station"].replace({"MIA": 'USW00012839', "MDW":'USW00014819', "ATT":'USW00013904', "NYC":'USW00094728'})
    df_hd.drop(columns = ["station",'day'],inplace = True)
    df_hds.append(df_hd)
    #df_hd.apply(lambda x : {"MIA": 'USW00012839', "MDW":'USW00014819', "ATT":'USW00013904', "NYC":'USW00094728'}[x["station"]],axis = 1,result_type = "expand")
df_hds = pd.concat(df_hds)

In [28]:
print(df_hds)

          max_rh  Year  Month  Day      STATION
0      81.001440  1965      1    1  USW00012839
1      84.260040  1965      1    2  USW00012839
2      92.564200  1965      1    3  USW00012839
3      93.275604  1965      1    4  USW00012839
4      74.564210  1965      1    5  USW00012839
...          ...   ...    ...  ...          ...
16933  73.769150  2024      3   13  USW00094728
16934  79.437454  2024      3   14  USW00094728
16935  66.116776  2024      3   15  USW00094728
16936  65.874460  2024      3   16  USW00094728
16937  73.967030  2024      3   17  USW00094728

[81814 rows x 5 columns]

In [33]:
df = pd.merge(df,df_hds,on = ['STATION', 'Year', 'Month', 'Day'],how = "inner")

In [34]:
df.to_csv("1965_2024.csv",index=False)

           STATION                                NAME        DATE  AWND  \
0      USW00012839  MIAMI INTERNATIONAL AIRPORT, FL US  1965-01-01   NaN
1      USW00012839  MIAMI INTERNATIONAL AIRPORT, FL US  1965-01-02   NaN
2      USW00012839  MIAMI INTERNATIONAL AIRPORT, FL US  1965-01-03   NaN
3      USW00012839  MIAMI INTERNATIONAL AIRPORT, FL US  1965-01-04   NaN
4      USW00012839  MIAMI INTERNATIONAL AIRPORT, FL US  1965-01-05   NaN
...            ...                                 ...         ...   ...
61215  USW00094728         NY CITY CENTRAL PARK, NY US  2024-02-20  5.37
61216  USW00094728         NY CITY CENTRAL PARK, NY US  2024-02-21   NaN
61217  USW00094728         NY CITY CENTRAL PARK, NY US  2024-02-22   NaN
61218  USW00094728         NY CITY CENTRAL PARK, NY US  2024-02-23   NaN
61219  USW00094728         NY CITY CENTRAL PARK, NY US  2024-02-24   NaN

         PGTM  PRCP  SNOW  SNWD  TMAX  TMIN  ...   d22   d23   d24   d25  \
0      1612.0  0.23   0.0   0.0  78.0  70.0  ...  78.0  78.0  73.0  74.0
1        42.0  0.00   0.0   0.0  77.0  63.0  ...  79.0  78.0  78.0  73.0
2      2312.0  0.07   0.0   0.0  78.0  59.0  ...  80.0  79.0  78.0  78.0
3      1048.0  0.06   0.0   0.0  73.0  64.0  ...  81.0  80.0  79.0  78.0
4      1012.0  0.00   0.0   0.0  72.0  55.0  ...  80.0  81.0  80.0  79.0
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...
61215   407.0  0.00   0.0   0.0  40.0  26.0  ...  94.0  92.0  89.0  88.0
61216     NaN  0.00   0.0   0.0  43.0  30.0  ...  95.0  94.0  92.0  89.0
61217     NaN  0.04   0.0   0.0  45.0  35.0  ...  95.0  95.0  94.0  92.0
61218     NaN  0.04   0.0   0.0  47.0  42.0  ...  96.0  95.0  95.0  94.0
61219     NaN  0.00   0.0   0.0  44.0  28.0  ...  96.0  96.0  95.0  95.0

        d26   d27   d28   d29   d30     max_rh
0      75.0  83.0  83.0  81.0  76.0  81.001440
1      74.0  75.0  83.0  83.0  81.0  84.260040
2      73.0  74.0  75.0  83.0  83.0  92.564200
3      78.0  73.0  74.0  75.0  83.0  93.275604
4      78.0  78.0  73.0  74.0  75.0  74.564210
...     ...   ...   ...   ...   ...        ...
61215  93.0  92.0  92.0  91.0  91.0  49.016790
61216  88.0  93.0  92.0  92.0  91.0  66.321014
61217  89.0  88.0  93.0  92.0  92.0  85.595870
61218  92.0  89.0  88.0  93.0  92.0  89.059220
61219  94.0  92.0  89.0  88.0  93.0  76.124100

[61220 rows x 49 columns]